.page-title {
  line-height: 60px;
  border-bottom: 1px solid #E5E5e5;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(11, 216, 243);
}
.left {
  float: left;
  width: 95%;
}
