<div class="page-title"> 
  <div class="left">
    <span href="">Mobile Store</span>
  </div>
  <div class="right">
    <a href="">Login</a>
  </div>
</div>
<div class="container-fluid">
  <div *ngFor="let data of dynamicData">
    <div *ngFor="let template of templates;">
      <ng-container *compile="template.template; context:{data:data}"></ng-container>
    </div>
  </div>
</div>