/* You can add global styles to this file, and also import other style files */
.red {
  color: #F00;
}

.main {
  margin: 10px;
  float: left;
  border: 0.5px solid #E5E5E5;
  border-radius: 5px;
  cursor: pointer;
}

.main:hover {
  background: #F00;
}
